* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* background color for whole page */
body {
  background-color: #d9dcd6;
}

/* header styling consisting of font, position, and text color */
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */    
  color: black;
}

/* Title of page */
header h1 {
  display: inline-block;
  font-size: 48px;
}

/* Title of page styling. Highlighting the tito in Bantito as a play on words in exchange for Bandito */
header h1 .tito {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
color: #ffffff;
}

/* Navigation bar for different payment options. Styling features for nav headers */
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

/* Spacing between nav options */
header nav ul li {
  display: inline-block;
  margin-left: 150px;
}

a {
  color: darkgrey;
  text-decoration: none;
  font-weight: bold;
}

p {
  font-size: 16px;
}


/* Sizing and position of main stock photo/cover photo for site */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

/* Aligns content of the page in a readable and organized manner */
content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

/* Sidebar benefits of paying me styling */

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.benefit-lead {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-brand {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-lead h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-brand h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-lead img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-brand img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

/* Styling for payment option boxes */
.paypal {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
  color: #ffffff;
}

.venmo {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: rgb(255,48,25); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
  color: #ffffff;
}

.cash-app {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: rgb(255,48,25); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
  color: #ffffff;
}

.paypal img {
  max-height: 200px;
}

.venmo img {
  max-height: 200px;
}

.cash-app img {
  max-height: 200px;
}

.paypal h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.venmo h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.cash-app h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}
